.About-Content-01 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;

	animation: AboutPageContentSlideUp 600ms linear 0ms;
	animation-iteration-count: 1;

	h1 {
		margin-top: -50px;
		font-size: 40px;
		font-weight: bold;
		word-spacing: 3px;
	}

	.About-Subheading-01 {
		font-size: 16px;
		color: var(--text-color-light);
	}

	p {
		margin: 5px;
		a {
			color: var(--theme-color-middle);
		}
	}

	.About-Side-Git-Btns-Container-01 {
		right: 10px;
		bottom: 40px;
		position: absolute;
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}
