.todo-list-000 {
  // border: 1px solid red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .todo-list-001-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .todo-list-001-new-task-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 13px;
    padding: 2px 0px;
    bottom: 0px;
    // border: 1px solid red;
    border-top: 1px solid $border-black;
    border-bottom: 1px solid $border-black;

    .todo-list-002-form-add-indicator {
      color: $theme-green;
      font-size: 10px;
      // border-radius: 50%;
      border: 1px solid red;
      // padding: 4px 4px 3px 4px;
      margin-right: 10px;
      cursor: pointer;
    }

    button {
      color: $theme-green;
      background: white;
      border: 0px solid white;
    }

    input {
      padding: 15px 10px;
      width: 100%;
      border: 0px solid white;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $theme-green;
      }
    }
  }

  .todo-list-002-the-list {
    max-height: 100%;
    overflow: overlay;
  }

  .list-002-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // align-items: center;
    padding: 15px 25px 15px 15px;
    // border: 1px solid red;

    .list-003-trash-button {
      color: $theme-green;
      border: 1px solid white;
      background: white;
      cursor: pointer;
      font-size: 22px;

      &:hover {
        color: red;
      }
    }

    form {
      display: flex;
      flex-direction: row;

      button {
        color: $theme-green;
        border: 1px solid $theme-green;
        background: white;
        cursor: pointer;
      }

      .list-004-w-se-g-input:focus {
        border-right: 1px solid $theme-green;
      }

      .list-004-invalid-input {
        border: 1px solid red !important;
      }
      
      input {
        color: $theme-green;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid white;
        border-right: 0px solid white;
        width: auto;
        padding: 6px 10px;
  
        &:focus {
          color: $text-color;
          outline: none;
          border: 1px solid $theme-green;
          border-right: 0px solid white;
        }
      }
    }

    
  }
  
}