@keyframes Page-Fade-In {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes About-Page-Content-Slide-Up {
	0% {
		opacity: 0;
		padding-top: 100px;
		height: calc(100vh - 170px);
	}

	100% {
		opacity: 1;
		padding-top: 0px;
		height: calc(100vh - 70px);
	}
}

@keyframes Async-Button-Border {
	0% {
		border: 1px solid var(--hover-mint-medium);
	}

	50% {
		border: 1px solid var(--theme-color-middle);
	}

	100% {
		border: 1px solid var(--hover-mint-medium);
	}
}

@keyframes Async-Button-Text {
	0% {
		color: var(--text-color-light);
	}

	50% {
		color: var(--theme-color-middle);
	}

	100% {
		color: var(--text-color-light);
	}
}

@keyframes NotifyModal-Slide-Left {
	0% {
		opacity: 0;
		margin-right: 0px;
	}

	100% {
		opacity: 1;
		margin-right: calc(50vw - 100px);
	}
}
