body {
	color: var(--text-color);
	font-size: 14px;
	// font-family: 'Krub', sans-serif;
	font-family: 'Lato', sans-serif;
	// font-size: 15px;
	background: var(--background-color);
}

.Flex-Class-Row-Start,
.Flex-Class-Row-End,
.Flex-Class-Row-Center,
.Flex-Class-Row-Space-Between {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.Flex-Class-Row-Start {
	justify-content: flex-start;
}
.Flex-Class-Row-End {
	justify-content: flex-end;
}
.Flex-Class-Row-Center {
	justify-content: center;
}
.Flex-Class-Row-Space-Between {
	justify-content: space-between;
}

a {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}
}

input,
textarea,
button {
	&:focus {
		outline: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
	padding: 0px;
}

// input
button {
	&:focus {
		outline: none;
	}
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
	background: $background-grey-2;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: $background-grey-3;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: $background-grey-3;
}
