$background-grey-0: #f3f2f2;
$background-grey-1: #e7e7e7;
$background-grey-2: #dddddd;
$background-grey-3: #c0c0c0;

:root {
	--danger-red-color: #f03434;
	--safe-green-color: #019031;

	--background-color: white;
	--border-color: #d8d8d8;
	--hover-mint-light: #f3f3f3;
	--hover-mint-medium: #f3f3f3;
	// --hover-mint-medium: #ebebeb;
	--hover-mint-deep: #dddddd;

	// Blue
	--theme-color: #0071e2;
	--theme-color-middle: #088cfb;
	--theme-color-light: #00a6f9;

	// Orange
	// --theme-color: #ff8800;
	// --theme-color-middle: #ff9b17;
	// --theme-color-light: #ffa42d;

	--text-color: #424242;
	--text-color-light: #707070;
	--text-color-light-2: #b8b8b8;
	--text-color-light-3: #707070;
	--modal-mask-color: rgba(0, 0, 0, 0.3);
}

$app-header-height: 70px;
