$theme-purple: #6f8bd4;
$theme-green: #36A500;

$text-color: #707070;
// $text-color-light: #707070;
$border-black: #bbb;

$background-grey-1: #e7e7e7;
$background-grey-2: #dddddd;
$background-grey-3: #c0c0c0;