.any-dropdown-content-item-999 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
  word-spacing: 2px;
  background: var(--background-color);
  background: linear-gradient(to right, var(--hover-mint-medium) 50%, var(--background-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease;

  &:hover {
    background-position: left bottom;
  }
}

.awesome-app-transparent-input-999 {
  color: var(--text-color);
  font-size: 22px;
  // padding: 5px 10px;
  border: 0px solid var(--border-color);
  border-bottom: 1px solid var(--background-color);
  background: var(--background-color);
  transition : border 0.3s ease-out;

  &:focus {
    border-bottom: 1px solid var(--theme-color);
  }
}