.ensure-deletion-comp-000 {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 14px;

  .ensure-deletion-btn-div-002 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    button {
      color: var(--text-color);
      border: 1px solid var(--hover-mint-medium);
      background: var(--hover-mint-medium);
      border-radius: 4px;
      padding: 6px;
      cursor: pointer;
      margin: 10px 0px 0px 10px;
    }

    .ensure-deletion-del-btn-003 {
      color: white;
      border: 1px solid $theme-orange;
      background: $theme-orange;
      border-radius: 2px;
    }
  }
}