.about-page-000 {
  // border: 1px solid red;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;

  .about-page-001-info-div {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
  }
}

.about-page-000 > div {
  display: flex;
  // flex-direction: 
  justify-content: center;
  align-items: center;
  width: 50%;

  button {
    // margin-top: 10px;
    background: var(--theme-color);
    color: white;
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 4px;
    border: 0px solid var(--theme-color);
    cursor: pointer;
  }

  p {
    color: var(--text-color-light);
  }

  h1 {
    color: var(--theme-color);
    display: flex;
    align-items: center;
    padding: 10px 0px;

    svg {
      height: 30px;
      margin-top: 5px;
      margin-right: 10px;
      width: auto;
    }
  }

  .about-page--svg-div-001 {
    svg {
      height: 300px;
      width: auto;
      margin-right: 30px;
    }
  }
}