.login-page-000 {
  height: $height-without-header;
  background: var(--background-color);

  display: flex;
  align-items: center;
  justify-content: center;

  input, button, h3, p {
    margin-bottom: 10px;
  }

  .login-page--svg-div-001 {
    svg {
      height: 300px;
      width: auto;
      margin-right: 30px;
    }
  }

  .login-page-div-001 {
    form {
      display: flex;
      flex-direction: column;

      .login-page-div-error_message {
        color: var(--danger-red-color);
      }

      .login-page-div-normal_message {
        color: var(--safe-green-color);
      }

      input {
        color: var(--text-color);
        padding: 8px 14px;
        border: 1px solid var(--border-color);

        &:focus {
          border: 1px solid var(--theme-color);
        }
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;

        button {
          color: white;
          border: 0px solid var(--background-color);
          padding: 8px 14px;
          background: var(--theme-color);
          cursor: pointer;
          margin-right: 10px;
        }

        span {
          margin-left: 2px;
        }
      }      
    }

    .login-page-oauth-div-002 {
      display: flex;
      flex-direction: row;

      .login-page-buttons-002-google, .login-page-buttons-002-facebook {
        color: white;
        border: 0px solid var(--background-color);
        padding: 8px 20px;
        cursor: pointer;
        width: calc(100% - 5px);
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .login-page-buttons-002-google {
        background: $brand-color-google;
        margin-right: 5px;
      }
  
      .login-page-buttons-002-facebook {
        background: $brand-color-facebook;
        margin-left: 5px;
      }
    }

    
  }

  
}