.login-page-000 {
  height: $height-without-header;
  background: $background-color;

  display: flex;
  align-items: center;
  justify-content: center;

  input, button, h3, p {
    margin-bottom: 10px;
  }

  .login-page-div-001 {
    // border: 1px solid red;

    form {
      display: flex;
      flex-direction: column;
      // width: 100%;

      .login-page-div-error_message {
        color: $theme-orange;
      }

      input {
        // width: 100%;
        padding: 8px 14px;
        // margin-bottom: 10px;
        border: 1px solid var(--border-color);

        &:focus {
          border: 1px solid var(--theme-color);
        }
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        // margin-bottom: 10px;

        button {
          color: $background-color;
          border: 0px solid $background-color;
          padding: 8px 14px;
          background: var(--theme-color);
          cursor: pointer;
          margin-right: 10px;
        }

        span {
          margin-left: 2px;
        }
      }      
    }

    .login-page-oauth-div-002 {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;

      .login-page-buttons-002-google, .login-page-buttons-002-facebook {
        color: $background-color;
        border: 0px solid $background-color;
        padding: 8px 20px;
        // width: 100%;
        // margin-bottom: 10px;
        cursor: pointer;
        width: calc(100% - 5px);
    
        display: flex;
        align-items: center;
        justify-content: center;
      }
  
      .login-page-buttons-002-google {
        background: $brand-color-google;
        margin-right: 5px;
      }
  
      .login-page-buttons-002-facebook {
        background: $brand-color-facebook;
        margin-left: 5px;
      }
    }

    
  }

  
}