.EnsureDeletion-c-00 {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: normal;

	.EnsureDeletion-Btn-Container-01 {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;

		button {
			margin: 10px 0px 0px 10px;
		}
	}
}
