.EventDetails-c-00 {
	border-left: 1px solid var(--border-color);
	height: calc(100% - 40px);
	padding: 20px 30px;
	display: flex;
	flex-direction: column;
	transition: 0.2s;
	width: 300px;
	overflow: hidden;

	.EventDetailsHeader-c-00 {
		padding-bottom: 5px;

		form {
			// border: 1px solid red;
			display: flex;
			flex-direction: row;
			align-items: center;
			// margin-top: 0px;
			// padding: 10px 0px 0px 0px;

			input {
				font-size: 20px;
				padding: 5px 0px;
				margin-left: 15px;
				width: calc(100% - 20px);
			}
		}
	}

	.EventDetails-The-List-01 {
		// height: 100%;
		max-height: 100%;
		overflow: auto;
		// flex-grow: 1;
		width: calc(100% + 30px);
	}

	.ItemSubmitForm-c-00 {
		padding: 0px;

		input {
			padding: 15px 0px;
		}
	}
}
