.EventListHeader-c-00 {
	width: calc(100% - 40px);
	padding: 10px 20px;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.EventListHeader-Form-01 {
		width: 100%;

		input {
			font-size: 22px;
			padding: 5px 0px;
			width: calc(100% - 20px);
		}
	}
}
