.EventListItem-c-00 {
	width: calc(100% - 0px);
	margin: 3px 0px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	cursor: pointer !important;

	.EventDoneIndicator-c-00 {
		margin-left: 29px;
	}

	p {
		margin: 0px;
		padding: 10px 15px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		// padding-top: 2px;
	}
}
