.Header2-c-00 {
	width: calc(100% - 60px);
	height: $app-header-height;
	padding: 0px 30px;

	.Header2-Right-Div-01 {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

		.Header-Avatar-Siv-02 {
			margin-left: 10px;
			display: flex;
			flex-direction: row;
			cursor: pointer;

			img {
				// width: 30px;
				height: 30px;
				border-radius: 4px;
			}
		}
	}
}

.Header1-c-00 {
	width: calc(100% - 150px);
	height: $app-header-height;
	padding: 0px 75px;
}

.Header1-c-00,
.Header2-c-00 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	.Header1-Links-Container-01 {
		display: flex;
		flex-direction: row;
		align-items: center;

		p {
			color: var(--text-color-light-2);
			margin-left: 20px;
			font-size: 12px;
			cursor: pointer;

			&:hover {
				color: var(--text-color);
			}
		}

		.Header1-Links-Active {
			color: var(--text-color);
		}
	}

	.Header1-Left-Div-01,
	.Header2-Left-Div-01 {
		display: flex;
		flex-direction: row;
		align-items: center;

		.Header2-Hamburger-Div-02 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;

			border-radius: 50%;
			padding: 14px 13px;
			margin-right: 10px;
			margin-left: -13px;
			border: 1px solid var(--background-color);
			background: var(--background-color);
			cursor: pointer;

			&:hover {
				border: 1px solid var(--hover-mint-medium);
				background: var(--hover-mint-medium);
			}
		}

		.Header2-Hamburger-Div-02 > div {
			background: var(--text-color);
			height: 3px;
			width: 20px;
			margin: 1.5px 0px;
		}

		h2 {
			color: var(--theme-color-middle);
			align-items: center;
			display: flex;
			flex-direction: row;
		}
	}
}
