.TodoSidebar-c-00 {
	border-right: 1px solid var(--border-color);
	width: 250px !important;
	transition: 0.3s;

	height: 100%;
	display: flex;
	flex-direction: column;

	.TodoSidebar-The-List-01 {
		padding: 0px;
		height: calc(100% - 4px);
		max-height: calc(100% - 4px);
		overflow: auto;
	}
}

.TodoSidebar-c-00-Hidden {
	min-width: 0px !important;
	width: 0px !important;
	transition: 0.3s;
}
