.calendar-row-item-000-mini {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background: $background-grey-0;
    }

    p {
      font-weight: bold;
      font-size: 10px;
      color: $text-color-light;
    }
  }
}

.calendar-row-item-000-mini-not-in-month {
  div > p {
    color: $text-color-light-2;
  }
}

.calendar-row-item-mini-active-date {
  p {
    color: white !important;
  }
  background: $theme-color;
}

.calendar-row-item-000 {
  border-right: 1px solid $border-black;
  width: calc((100% / 7) - 1px);
  background: $background-color;
  cursor: pointer;

  background: $background-color;
  background: linear-gradient(to right, $background-grey-0 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease;

  &:hover {
    background-position: left bottom;
  }

  .calendar-row-item-p-002 {
    margin-right: 10px;
    color: $theme-color;
    // color: $text-color-light;
    font-weight: bold;
    font-size: 10px;
  }

  .calendar-row-item-div-001 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px auto auto 5px;

    p {
      font-weight: normal;
      font-size: 10px;
      color: $text-color;
    }
  }
}