.calendar-event-view-comp-000 {
  font-size: 14px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--background-color);

  .view-group-delector-box-002-async {
    transition : border 0.3s ease-out;
    animation: asyncButtonText 0.6s infinite;
  }

  .calendar-event-view-dates-box-001 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;

    .view-dates-box-btn-002 {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      color: var(--text-color);
      border: 1px solid var(--hover-mint-medium);
      background: var(--hover-mint-medium);
      border-radius: 2px;
      padding: 6px;
      cursor: pointer;

      transition : border 0.3s ease-out;
    }

    .view-dates-box-btn-002-async {
      animation: asyncButtonBorder 0.6s infinite;
    }
  }

  .calendar-event-view-title-box-001 {
    input, p {
      color: var(--text-color);
      font-size: 22px;
      // padding: 5px 10px;
      border: 0px solid var(--border-color);
      border-bottom: 1px solid var(--background-color);
      background: var(--background-color);
    }

    input {  
      transition : border 0.3s ease-out;

      &:focus {
        border-bottom: 1px solid var(--theme-color);
      }
    }
  }
}

@keyframes asyncButtonBorder {
  0% {
    border: 1px solid var(--hover-mint-medium);
  }

  50% {
    border: 1px solid var(--theme-color);
  }

  100% {
    border: 1px solid var(--hover-mint-medium);
  }
}

@keyframes asyncButtonText {
  0% {
    color: var(--text-color);
  }

  50% {
    color: var(--theme-color);
  }

  100% {
    color: var(--text-color);
  }
}

