.calendar-row-item-events-level {
  font-size: 12px;
  // font-family: 'Lato', sans-serif;
  position: absolute;
  // float: left;
  // z-index: 3;
  // width: 100%;
  // background: yellow;
  // overflow-x: visible;
  // overflow-x: visible;
  // overflow-y: hidden;
  // background: #c9d60f80;
  border: 0px solid yellow;
  // overflow-y: auto;
}

.calendar-event-comp-000 {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  font-size: 11.5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  margin-left: 4px;
  
  color: white;
  background: var(--theme-color);
  // opacity: 0.5;
  border-radius: 3px;
  white-space: nowrap;

  .calendar-event-div-over-title-001 {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }
}

.calendar-row-item-empty-event {
  // background: #b1ff3457;
  background: rgba(0, 0, 0, 0);
  padding: 3px 5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  width: calc(100% - 10px);
}