.calendar-event-view-comp-000 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--background-color);

  .calendar-event-view-tools-box-001 {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .calendar-event-view-dates-box-001 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
  }
}

@keyframes asyncButtonBorder {
  0% {
    border: 1px solid var(--hover-mint-medium);
  }

  50% {
    border: 1px solid var(--theme-color-middle);
  }

  100% {
    border: 1px solid var(--hover-mint-medium);
  }
}

@keyframes asyncButtonText {
  0% {
    color: var(--text-color);
  }

  50% {
    color: var(--theme-color-middle);
  }

  100% {
    color: var(--text-color);
  }
}

