.calendar-sidebar-navigation-000 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  // padding: 10px 20px 0px 15px;
  padding: 15px 20px 0px 15px;
  height: 31px;
  // // border: 1px solid red;

  p {
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color-light);
    width: 110px;
    text-align: left;
    padding-top: 3px;
    font-size: 13px;
    margin: 0px 5px;
    font-weight: bold;
    // border: 1px solid red;
  }

  .sidebar-navigation-001-nav-btn {
    font-size: 15px;
    // border: 1px solid red;
    font-weight: bold;
    color: var(--text-color);
    border-radius: 50%;
    padding: 3px 8px 3px 8px;
    border: 1px solid var(--background-color);
    background: var(--background-color);
    margin-bottom: -5px;
    cursor: pointer;

    &:hover {
      border: 1px solid var(--hover-mint-light);
      background: var(--hover-mint-light);
    }
  }
}