.calendar-sidebar-000 {
  border-right: 1px solid $border-black;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  // .calendar-sidebar-001-the-list {
  //   background: $background-color;
  // }
}