.calendar-sidebar-item-000 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  // border: 1px solid red;

  .todo-list-indicator-000 {
    border-radius: 4px;
    padding: 4px;
  }

  .calendar-sidebar-item-title-form-002 {
    input {
      border: 0px solid $background-color;
      margin-left: -2px;
      padding: 2px 2px;
      background: $background-grey-0;

      &:disabled {
        background: $background-color;
      }
    }
  }

  .calendar-sidebar-item-options-btn {
    font-size: 10px;
    // font-weight: normal;
    color: $text-color-light;
    transform: rotate(90deg);
    background: $background-color;
    border: 0px solid $background-color;
    padding: 0px;
    margin-right: -2px;
    cursor: pointer;
  }
}
