.calendar-sidebar-item-000 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  // border: 1px solid red;

  .todo-list-indicator-000 {
    border-radius: 4px;
    padding: 4px;
  }

  form {
    input {
      border: 0px solid white;
      margin-left: -2px;
      padding: 2px 2px;
      background: $background-grey-1;

      &:disabled {
        background: white;
      }
    }
  }

  .calendar-sidebar-item-options-btn {
    font-size: 10px;
    // font-weight: normal;
    color: $text-color-light;
    transform: rotate(90deg);
    background: white;
    border: 0px solid white;
    padding: 0px;
    margin-right: -2px;
    cursor: pointer;
  }

  .sidebar-item-002-header-rodal-content {
    p {
      padding: 10px 20px;
      cursor: pointer;
      background: white;
      background: linear-gradient(to right, $background-grey-0 50%, white 50%);
      background-size: 200% 100%;
      background-position: right bottom;
      transition: all 0.2s ease;

      &:hover {
        background-position: left bottom;
      }
    }
  }
}
