.calendar-event-view-comp-000 {
  font-size: 14px;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--background-color);

  .calendar-event-view-tools-box-001 {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  .view-group-delector-box-002-async {
    transition : border 0.3s ease-out;
    animation: asyncButtonText 0.6s infinite;
  }

  .calendar-event-view-dates-box-001 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;

    .view-dates-box-btn-002-async {
      transition : border 0.3s ease-out;
      animation: asyncButtonBorder 0.6s infinite;
    }
  }
}

@keyframes asyncButtonBorder {
  0% {
    border: 1px solid var(--hover-mint-medium);
  }

  50% {
    border: 1px solid var(--theme-color);
  }

  100% {
    border: 1px solid var(--hover-mint-medium);
  }
}

@keyframes asyncButtonText {
  0% {
    color: var(--text-color);
  }

  50% {
    color: var(--theme-color);
  }

  100% {
    color: var(--text-color);
  }
}

