.calendar-row-item-events-level {
  font-size: 12px;
  // font-family: 'Lato', sans-serif;
  position: absolute;
  // float: left;
  // z-index: 3;
  // width: 100%;
  // background: yellow;
  // overflow-x: visible;
  // overflow-x: visible;
  // overflow-y: hidden;
  // background: #c9d60f80;
  border: 0px solid yellow;
  // overflow-y: auto;
}

.calendar-event-000-invis {
  color: red;
  background: green;
  // opacity: 0;
}
.calendar-event-000-vis {
  // color: rgb(235, 83, 83);
  // background: rgba(255, 201, 54, 0.534);
  background: rgba(255, 255, 0, 0.301);
  margin-left: -4px;
}

.calendar-event-comp-000 {
  // font-size: 12px;
  display: flex;
  // justify-content: center;
  align-items: center;
  padding: 3px 5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  min-width: calc(100% - 10px);
}

.calendar-row-item-empty-event {
  background: red;
  padding: 3px 5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  width: calc(100% - 10px);
}