.calendar-sidebar-color-options-p-001 {
  padding: 0px 15px;
  max-width: 156px;
  background: var(--background-color) !important;

  .calendar-sidebar-color-spans-002 {
    width: 16px;
    height: 16px;
    margin: 0px 5px 10px 5px;
    float: left;
    border-radius: 50%;
    cursor: pointer;
  }
}

.calendar-sidebar-color-form-002 {
  // border: 1px solid red;
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  margin: 10px 20px;
  // background: var(--background-color);
  
  input {
    color: var(--text-color);
    background: var(--background-color);
    border: 0px solid var(--background-color);
    flex-flow: 1;
    width: 100%;
  }
}

.calendar-sidebar-color-error_message {
  color: $theme-orange;
  padding: 0px 20px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-top: -5px;
}