.todo-details-comp-000 {
  border-left: 1px solid var(--border-color);
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  padding: 10px 20px;
  
  form {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
  }

  textarea {
    color: var(--text-color);
    border: 1px solid var(--border-color);
    // width: calc(100% - 12px);
    padding: 6px;
    min-height: 70px;
    max-height: 70px;
    min-width: calc(100% - 12px);
    max-width: calc(100% - 12px);
    background: var(--background-color);

    // &::placeholder {
    //   color: var(--border-color);
    // }
  }

  .todo-details-description-button-002 {
    border: 0px solid var(--background-color);
    padding: 6px 10px;
    cursor: pointer;
  }
}