.todo-details-item-comp-000 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 0px;

  .todo-list-indicator-000 {
    font-size: 7px !important;
    margin-left: 2px;
  }

  form {
    width: 100%;

    input {
      color: var(--text-color);
      padding: 0px;
      margin: 0px;
      width: 100%;
      border: 0px solid var(--background-color);
      background: var(--background-color);
    }
  }

  .details-item-step-delete-button-001 {
    padding: 0px 10px;
    cursor: pointer;
    font-size: 10px;
  }
}