.header-000 {
  // border: 1px solid red;
  border-bottom: 1px solid $border-black;
  padding: 12px 20px 12px calc(20px - 13px); // 13px for hamburger padding
  // padding: 12px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .header-unauth-button-row-001 > a {
    margin-left: 20px;
  }

  button {
    color: $text-color;
    border: 1px solid $background-grey-1;
    background: $background-grey-1;
    border-radius: 2px;
    padding: 6px;
    margin: 0px 5px;
    cursor: pointer;

    &:hover {
      border: 1px solid $background-grey-2;
      background: $background-grey-2;
    }

    &:disabled {
      // color: $theme-green;
      // border: 1px solid $theme-green;
      // background: white;
      color: white;
      border: 1px solid $theme-green;
      background: $theme-green;
      cursor: default;
    }
  }

  .header-001-right-div {
    display: flex;
    flex-direction: row;
    align-items: center;

    .header-002-avatar-div {
      margin-left: 20px;
      display: flex;
      flex-direction: row;
      cursor: pointer;
  
      img {
        // width: 30px;
        height: 30px;
        border-radius: 4px;
      }
  
      i {
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }

  .header-001-left-div {
    display: flex;
    flex-direction: row;

    .header-002-hamburger-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      padding: 14px 13px;
      margin-right: 10px;
      border: 1px solid white;
      background: white;
      cursor: pointer;

      &:hover {
        border: 1px solid $background-grey-1;
        background: $background-grey-1;
      }
    }
  
    .header-002-hamburger-div > div {
      background: $text-color;
      height: 3px;
      width: 20px;
      margin: 1.5px 0px;
    }

    a {
      display: flex;
      align-items: center;
    }

    h2 {
      color: $theme-green;
      display: flex;
      align-items: center;

      svg {
        height: 25px;
        margin-top: 3px;
        margin-right: 10px;
        width: auto;
      }
    }
  }

  .header-001-calendar-nav {
    // border: 1px solid red;
    display: flex;
    flex-direction: row;
    align-items: center;

    p {
      font-family: 'Montserrat', sans-serif;
      color: $text-color-light;
      padding-top: 3px;
      font-size: 16px;
      margin: 0px 5px;
      font-weight: bold;
    }

    .header-002-nav-btn {
      font-size: 20px;
      // font-weight: bold;
      color: $text-color;
      border-radius: 50%;
      padding: 3px 9px 3px 9px;
      border: 1px solid white;
      background: white;

      &:hover {
        border: 1px solid $background-grey-1;
        background: $background-grey-1;
      }
    }
  }

  .header-rodal-content-003 {
    p {
      border: 1px solid $border-black;
      border-bottom: 0px solid $border-black;
      padding: 6px 10px;

      &:hover {
        background: $background-grey-0;
      }
    }
  }
}