.any-list-comp-container-999 {
  display: flex;
  flex-direction: column;
  height: 100%;

  .any-list-comp-the-list-999 {
    max-height: 100%;
    overflow: auto;
  }
}

.any-list-comp-bottom-form-999 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 13px;
  padding: 2px 0px;
  bottom: 0px;
  border-top: 1px solid $border-black;
  border-bottom: 1px solid $border-black;
  // background: rgba(255, 255, 255, 0);

  button {
    color: $theme-color;
    background: $background-color;
    border: 0px solid $background-color;
  }

  input {
    padding: 15px 10px;
    width: 100%;
    border: 0px solid $background-color;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $theme-color;
      opacity: 1;
    }
  }
}

.todo-list-000 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list-002-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;

    button {
      color: $text-color-light;
      border: 1px solid $background-grey-0;
      background: $background-grey-0;
      border-radius: 2px;
      padding: 6px;
      margin: 0px 5px;
      cursor: pointer;

      &:hover {
        border: 1px solid $background-grey-2;
        background: $background-grey-2;
      }
    }

    .list-002-header-rodal-content {
      p {
        border: 1px solid $border-black;
        border-bottom: 0px solid $border-black;
        padding: 6px 10px;
        cursor: pointer;

        i {
          margin-right: 5px;
        }
  
        &:hover {
          background: $background-grey-0;
        }
      }
    }

    form {
      display: flex;
      flex-direction: row;

      .list-004-invalid-input {
        border: 1px solid $theme-orange !important;
      }
      
      input {
        color: $text-color-light;
        font-size: 18px;
        font-weight: bold;
        border: 1px solid $background-color;
        border-right: 0px solid $background-color;
        width: auto;
        padding: 6px 10px;
  
        &:focus {
          outline: none;
          border-bottom: 1px solid $border-black;
          // border-bottom: 1px solid $text-color-light;
          border-right: 0px solid $background-color;
        }
      }
    }
  }
}