.todo-list-item-000 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 15px;
  // margin: 0px 15px;
  cursor: default !important;
  background: var(--background-color);
  background: linear-gradient(to right, var(--hover-mint-medium) 50%, var(--background-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease;

  &:hover {
    background-position: left bottom;
  }

  p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
  }
}

// .todo-list-item-000-active {
//   background: var(--hover-mint-medium) !important;
// }