.todo-sidebar-item-000-active {
  background: var(--hover-mint-light);

  .sidebar-item-001-hamburger {
    border: 1px solid var(--hover-mint-light) !important;
    background: var(--hover-mint-light) !important;
  }
}

.todo-sidebar-item-000 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 8px;
  // cursor: pointer;

  p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    cursor: default;
  }

  .sidebar-item-001-hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    padding: 10px 12px;
    margin-right: 10px;
    border: 1px solid $background-color;
    background: $background-color;
    // cursor: pointer;

    &:hover {
      border: 1px solid var(--hover-mint-light);
      background: var(--hover-mint-light);
    }
  }

  .sidebar-item-001-hamburger > div {
    // background: var(--text-color);
    // background: var(--theme-color);
    height: 3px;
    width: 15px;
    margin: 1.5px 0px;
  }
}