.todo-sidebar-000 {
  border-right: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  min-width: 250px;

  .todo-sidebar-001-the-list {
    height: 100%;
    max-height: 100%;
    overflow: auto;

    // .todo-sidebar-001-dropzone {
    //   background: var(--hover-mint-medium);
    //   height: 4px;
    // }
  }
  
}