.any-list-comp-container-999 {
  display: flex;
  flex-direction: column;
  height: 100%;

  .any-list-comp-the-list-999 {
    max-height: 100%;
    overflow: auto;
  }
}

.any-list-comp-bottom-form-999 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 13px;
  padding: 2px 0px;
  bottom: 0px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  // background: rgba(255, 255, 255, 0);

  button {
    color: var(--theme-color);
    background: var(--background-color);
    border: 0px solid var(--background-color);
  }

  input {
    color: var(--text-color);
    padding: 15px 10px;
    width: 100%;
    border: 0px solid var(--background-color);
    background: var(--background-color);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: var(--theme-color);
      opacity: 1;
    }
  }
}

.todo-list-000 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .list-002-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;

    button {
      color: var(--text-color-light);
      border: 1px solid var(--hover-mint-medium);
      background: var(--hover-mint-medium);
      border-radius: 2px;
      padding: 6px;
      margin: 0px 5px;
      cursor: pointer;

      &:hover {
        border: 1px solid var(--hover-mint-medium);
        background: var(--hover-mint-medium);
      }
    }
  }

  .list-002-header > form {
    display: flex;
    flex-direction: row;
    width: 100%;

    input {
      // flex-grow: 1;
      width: 100%;
    }
  }
}