.todo-list-item-000-active {
  background: var(--hover-mint-light);
}

.todo-list-item-000 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  margin: 0px 15px;
  cursor: default !important;

  &:hover {
    background: var(--hover-mint-light);
  }

  p {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
  }
}
