.not-found-page-000 {
  height: $height-without-header;
  background: var(--background-color);
  // font-family: 'Montserrat', sans-serif;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .not-found-page-404-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    margin-top: -60px;

    h1 {
      font-size: 110px;
    }

    img, svg {
      height: 90px;
      width: 90px;
      margin: 20px 10px 10px 10px;
    }
  }
}