.calendar-row-000 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  overflow: hidden;
}

.calendar-row-000-mini {
  display: flex;
  flex-direction: row;
}