.calendar-sidebar-000 {
  border-right: 1px solid var(--border-color);
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.3s;

  .any-list-comp-container-999 {
    height: calc(100% - 221px - 31px) !important;
  }
}