.calendar-sidebar-item-000 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  // border: 1px solid red;

  .todo-list-indicator-000 {
    border-radius: 4px;
    padding: 4px 4px 3px 4px;
  }

  .calendar-sidebar-item-title-form-002 {
    input {
      color: var(--text-color);
      border: 1px solid var(--background-color);
      margin-left: -2px;
      padding: 2px 2px;
      background: var(---background-color);
      border-bottom: 1px solid var(--theme-color-middle);

      &:disabled {
        // background: var(--background-color);
        border: 1px solid var(--background-color);
      }
    }
  }

  .calendar-sidebar-item-options-btn {
    font-size: 10px;
    // font-weight: normal;
    color: var(--text-color-light);
    background: var(--background-color);
    border: 0px solid var(--background-color);
    padding: 0px;
    margin-right: -2px;
    cursor: pointer;
  }
}
