@import './base/variables';
@import './base/settings';
@import './base/base';
@import './base/anime';

@import '../../node_modules/react-dropdown-modal/lib/dropdown.css';
@import '../../node_modules/awesome-react-datepicker/lib/datepicker.css';
// @import 'react-dropdown-selector/lib/selector.css';
// @import '../../../../_projects/react-dropdown-selector/lib/selector.css';
// @import '../../node_modules/rodal/lib/rodal.css';

@import './components/partials/header';
@import './components/partials/todo_sidebar';
@import './components/partials/todo_sidebar_item';
@import './components/partials/todo_list';
@import './components/partials/todo_list_item';
@import './components/partials/todo_list_indicator';
@import './components/partials/todo_details';
@import './components/partials/todo_details_item';
@import './components/partials/calendar_sidebar';
@import './components/partials/calendar_sidebar_navigator';
@import './components/partials/calendar_sidebar_item';
@import './components/partials/calendar_content';
@import './components/partials/calendar_row';
@import './components/partials/calendar_row_item';
@import './components/partials/calendar_sidebar_color';
@import './components/partials/calendar_event';
@import './components/partials/calendar_event_view';

@import './components/pages/todo_page';
@import './components/pages/calendar_page';
@import './components/pages/login_page';
@import './components/pages/loading_page';

@import './components/reusable/dropdown.scss'
