@keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideDown_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown_child{0%{margin-top:-200px}70%{margin-top:20px}to{margin-top:0}}@keyframes slideDown_child_rev{0%{margin-top:0}to{margin-top:-240px}}@keyframes slideUp{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideUp_rev{0%{opacity:1}to{opacity:0}}@keyframes slideUp_child{0%{margin-top:200px}70%{margin-top:-20px}to{margin-top:0}}@keyframes slideUp_child_rev{0%{margin-top:0}to{margin-top:240px}}@keyframes slideRight{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideRight_rev{0%{opacity:1}to{opacity:0}}@keyframes slideRight_child{0%{margin-left:-200px}70%{margin-left:20px}to{margin-left:0}}@keyframes slideRight_child_rev{0%{margin-left:0}to{margin-left:-240px}}@keyframes slideLeft{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideLeft_rev{0%{opacity:1}to{opacity:0}}@keyframes slideLeft_child{0%{margin-left:200px}70%{margin-left:-20px}to{margin-left:0}}@keyframes slideLeft_child_rev{0%{margin-left:0}to{margin-left:240px}}.gib-r-drpd-m-_ModalMask{height:100vh;width:100vw;display:flex;position:fixed;top:0;bottom:0;left:0;right:0}.gib-r-drpd-m-_ModalMask-m-centered{display:flex;align-items:center;justify-content:center}.gib-r-drpd-m-_Modal{position:absolute;top:auto;bottom:auto;right:auto;left:auto;animation-iteration-count:1}.gib-r-drpd-m-_ModalArrow{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #fff;margin-top:-7px}.gib-r-drpd-m-_ModalContent{display:flex;flex-direction:column}.gib-r-drpd-m-_ModalContent_btn_001{color:#606060;padding:6px 14px;background:#fff;font-size:13px;border:0 solid #fff;border-top:1px solid #e2e2e2;cursor:pointer}.gib-r-drpd-m-_ModalContent_btn_001 :focus{outline:none}.gib-r-drpd-m-_ModalContent_btn_001 :hover{background:#f9f9f9}
.react-dropdown-selector_Option,.react-dropdown-selector_Selector{font-size:14px;color:#424242;padding:10px 20px;cursor:pointer;word-spacing:2px}.react-dropdown-selector_Option{background:#fff;background:linear-gradient(90deg,#ebebeb 50%,#fff 0);background-size:200% 100%;background-position:100% 100%;transition:all .2s ease}.react-dropdown-selector_Option:hover{background-position:0 100%}.react-dropdown-selector_Selector{background:#ebebeb}
@keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideDown_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown_child{0%{margin-top:-200px}70%{margin-top:20px}to{margin-top:0}}@keyframes slideDown_child_rev{0%{margin-top:0}to{margin-top:-240px}}@keyframes slideUp{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideUp_rev{0%{opacity:1}to{opacity:0}}@keyframes slideUp_child{0%{margin-top:200px}70%{margin-top:-20px}to{margin-top:0}}@keyframes slideUp_child_rev{0%{margin-top:0}to{margin-top:240px}}@keyframes slideRight{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideRight_rev{0%{opacity:1}to{opacity:0}}@keyframes slideRight_child{0%{margin-left:-200px}70%{margin-left:20px}to{margin-left:0}}@keyframes slideRight_child_rev{0%{margin-left:0}to{margin-left:-240px}}@keyframes slideLeft{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideLeft_rev{0%{opacity:1}to{opacity:0}}@keyframes slideLeft_child{0%{margin-left:200px}70%{margin-left:-20px}to{margin-left:0}}@keyframes slideLeft_child_rev{0%{margin-left:0}to{margin-left:240px}}.gib-r-drpd-m-_ModalMask{height:100vh;width:100vw;display:flex;position:fixed;top:0;bottom:0;left:0;right:0}.gib-r-drpd-m-_ModalMask-m-centered{display:flex;align-items:center;justify-content:center}.gib-r-drpd-m-_Modal{position:absolute;top:auto;bottom:auto;right:auto;left:auto;animation-iteration-count:1}.gib-r-drpd-m-_ModalArrow{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #fff;margin-top:-7px}.gib-r-drpd-m-_ModalContent{display:flex;flex-direction:column}.gib-r-drpd-m-_ModalContent_btn_001{color:#606060;padding:6px 14px;background:#fff;font-size:13px;border:0 solid #fff;border-top:1px solid #e2e2e2;cursor:pointer}.gib-r-drpd-m-_ModalContent_btn_001 :focus{outline:none}.gib-r-drpd-m-_ModalContent_btn_001 :hover{background:#f9f9f9}.awesome-react-datepicker-_Dateinput{padding:0;cursor:pointer;z-index:inherit}.awesome-react-datepicker-_Dateinput_p_001{font-size:13px;margin:6px 10px;padding:0}.awesome-react-datepicker-_Datepicker{position:absolute}.awesome-react-datepicker-_Navigator{padding:15px 18px 0;display:flex;flex-direction:row;justify-content:space-between}.awesome-react-datepicker-_Navigator_h3_001{font-size:15px;padding:0;margin:0}.awesome-react-datepicker-_Navigator_div_002{display:flex;flex-direction:row;margin-right:-10px}.awesome-react-datepicker-_Navigator_btn_003{display:flex;align-items:center;justify-content:center;border:0 solid #fff;font-weight:700;font-size:10px;cursor:pointer;border-radius:50%;height:25px;width:25px;margin-bottom:-5px}.awesome-react-datepicker-_Navigator_btn_003 :focus{outline:none}.awesome-react-datepicker-_Calendar{padding:10px;width:200px;height:200px;font-size:12px}.awesome-react-datepicker-_CalendarRow{display:flex;flex-direction:row}.awesome-react-datepicker-_CalendarRowItem{width:14.28571%}.awesome-react-datepicker-_CalendarRowItem_div_001{display:flex;align-items:center;justify-content:center;height:100%}.awesome-react-datepicker-_CalendarRowItem_p_002{display:flex;align-items:center;justify-content:center;text-align:center;width:25px;height:25px;border-radius:50%;cursor:pointer;font-size:12px}
body {
  color: var(--text-color);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: var(--background-color); }

.Flex-Class-Row-Start,
.Flex-Class-Row-End,
.Flex-Class-Row-Center,
.Flex-Class-Row-Space-Between {
  display: flex;
  flex-direction: row;
  align-items: center; }

.Flex-Class-Row-Start {
  justify-content: flex-start; }

.Flex-Class-Row-End {
  justify-content: flex-end; }

.Flex-Class-Row-Center {
  justify-content: center; }

.Flex-Class-Row-Space-Between {
  justify-content: space-between; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px; }

button:focus {
  outline: none; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; }

.Theme-Btn-Normal-99,
.Theme-Btn-White-99,
.Theme-Btn-Black-99,
.Theme-Btn-Red-99,
.Theme-Btn-Grey-99 {
  padding: 10px 20px;
  border: 0px solid white;
  border-radius: 4px;
  cursor: pointer; }

.Theme-Btn-Normal-99 {
  color: white;
  background: var(--theme-color); }

.Theme-Btn-White-99 {
  color: var(--text-color);
  background: var(--background-color); }

.Theme-Btn-Black-99 {
  color: var(--background-color);
  background: var(--text-color); }

.Theme-Btn-Red-99 {
  color: var(--background-color);
  background: var(--danger-red-color); }

.Theme-Btn-Grey-99 {
  color: var(--text-color);
  background: var(--hover-mint-medium); }

.Theme-Btn-Shadow-99 {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  .Theme-Btn-Shadow-99:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); }

.Theme-Btn-Type2-Normal-99,
.Theme-Btn-Type2-Red-99,
.Theme-Btn-Type2-Grey-99 {
  border-radius: 2px;
  padding: 6px;
  cursor: pointer; }

.Theme-Btn-Type2-Normal-99 {
  color: white;
  border: 1px solid var(--theme-color);
  background: var(--theme-color);
  font-weight: bold; }

.Theme-Btn-Type2-Red-99 {
  color: white;
  border: 1px solid var(--danger-red-color);
  background: var(--danger-red-color);
  font-weight: bold; }

.Theme-Btn-Type2-Grey-99 {
  color: var(--text-color);
  border: 1px solid var(--hover-mint-medium);
  background: var(--hover-mint-medium); }

.Theme-Btn-Type3-Exit-99 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  font-size: 30px;
  padding: 0px;
  border-radius: 50%;
  transform: rotate(45deg);
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0); }
  .Theme-Btn-Type3-Exit-99:hover {
    border: 1px solid var(--hover-mint-medium);
    background: var(--hover-mint-medium); }

.Theme-Input-99 {
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid var(--text-color-light-3);
  padding: 10px;
  border-radius: 4px; }
  .Theme-Input-99:focus {
    border: 1px solid var(--theme-color); }

.Theme-Input-Underline-OnFoucs-99 {
  color: var(--text-color);
  width: 100%;
  border: 0px solid var(--border-color);
  border-bottom: 1px solid var(--background-color);
  background: var(--background-color);
  transition: border 0.3s ease-out; }
  .Theme-Input-Underline-OnFoucs-99:focus {
    border-bottom: 1px solid var(--theme-color); }

.Theme-Dropdown-Content-Item-99 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
  word-spacing: 2px; }

.Theme-Slide-Background-onHover-99 {
  background: var(--background-color);
  background: linear-gradient(to right, var(--hover-mint-medium) 50%, var(--background-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease; }
  .Theme-Slide-Background-onHover-99:hover {
    background-position: left bottom; }

@keyframes Page-Fade-In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes About-Page-Content-Slide-Up {
  0% {
    opacity: 0;
    padding-top: 100px;
    height: calc(100vh - 170px); }
  100% {
    opacity: 1;
    padding-top: 0px;
    height: calc(100vh - 70px); } }

@keyframes Async-Button-Border {
  0% {
    border: 1px solid var(--hover-mint-medium); }
  50% {
    border: 1px solid var(--theme-color); }
  100% {
    border: 1px solid var(--hover-mint-medium); } }

@keyframes Async-Button-Text {
  0% {
    color: var(--text-color-light); }
  50% {
    color: var(--theme-color); }
  100% {
    color: var(--text-color-light); } }

@keyframes NotifyModal-Slide-Left {
  0% {
    opacity: 0;
    margin-right: 0px; }
  100% {
    opacity: 1;
    margin-right: calc(50vw - 100px); } }

.Extra-a-00 {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.Extra-a-00,
.Todo-a-00,
.Calendar-a-00 {
  animation: Page-Fade-In 600ms linear;
  animation-iteration-count: 1; }

.About-p-00 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  animation: About-Page-Content-Slide-Up 600ms linear 0ms;
  animation-iteration-count: 1; }
  .About-p-00 h1 {
    margin-top: -50px;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 3px; }
  .About-p-00 .About-Subheading-01 {
    font-size: 16px;
    color: var(--text-color-light); }
  .About-p-00 p {
    margin: 5px; }
    .About-p-00 p a {
      color: var(--theme-color); }
  .About-p-00 .About-Side-Git-Btns-Container-01 {
    right: 10px;
    bottom: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.TodoComp-c-00 {
  border-top: 1px solid var(--border-color);
  height: calc(100vh - 70px - 1px);
  width: 100vw;
  display: flex;
  flex-direction: row; }

.CalendarComp-c-00 {
  border-top: 1px solid var(--border-color);
  height: calc(100vh - 70px - 1px);
  width: 100vw;
  display: flex;
  flex-direction: row; }

.PrivacyPolicy-p-00 {
  width: calc(100% - 150px);
  padding: 0px 75px;
  animation: About-Page-Content-Slide-Up 600ms linear 0ms;
  animation-iteration-count: 1;
  height: calc(100vh - 70px);
  overflow: auto; }
  .PrivacyPolicy-p-00 h1 {
    margin: 0px 0px 20px 0px;
    color: var(--text-color-light);
    text-align: center; }
  .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 {
    width: calc(100% - 60px);
    height: calc(100% - 30px);
    padding: 0px 30px; }
    .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 p {
      color: var(--text-color-light);
      font-size: 14px;
      letter-spacing: 0.3px;
      margin: 10px 0px; }
      .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 p b {
        margin-left: 10px; }
    .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 h3 {
      color: var(--text-color-light);
      padding: 10px 10px 0px 10px; }
    .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 a {
      color: var(--theme-color); }
      .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 a:hover, .PrivacyPolicy-p-00 .PrivacyPolicy-Content-Div-01 a:focus {
        text-decoration: underline; }

.Header2-c-00 {
  width: calc(100% - 60px);
  height: 70px;
  padding: 0px 30px; }
  .Header2-c-00 .Header2-Right-Div-01 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .Header2-c-00 .Header2-Right-Div-01 .Header-Avatar-Siv-02 {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      cursor: pointer; }
      .Header2-c-00 .Header2-Right-Div-01 .Header-Avatar-Siv-02 img {
        height: 30px;
        border-radius: 4px; }

.Header1-c-00 {
  width: calc(100% - 150px);
  height: 70px;
  padding: 0px 75px; }

.Header1-c-00,
.Header2-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .Header1-c-00 .Header1-Links-Container-01,
  .Header2-c-00 .Header1-Links-Container-01 {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Header1-c-00 .Header1-Links-Container-01 p,
    .Header2-c-00 .Header1-Links-Container-01 p {
      color: var(--text-color-light-2);
      margin-left: 20px;
      font-size: 12px;
      cursor: pointer; }
      .Header1-c-00 .Header1-Links-Container-01 p:hover,
      .Header2-c-00 .Header1-Links-Container-01 p:hover {
        color: var(--text-color); }
    .Header1-c-00 .Header1-Links-Container-01 .Header1-Links-Active,
    .Header2-c-00 .Header1-Links-Container-01 .Header1-Links-Active {
      color: var(--text-color); }
  .Header1-c-00 .Header1-Left-Div-01,
  .Header1-c-00 .Header2-Left-Div-01,
  .Header2-c-00 .Header1-Left-Div-01,
  .Header2-c-00 .Header2-Left-Div-01 {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 14px 13px;
      margin-right: 10px;
      margin-left: -13px;
      border: 1px solid var(--background-color);
      background: var(--background-color);
      cursor: pointer; }
      .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02:hover {
        border: 1px solid var(--hover-mint-medium);
        background: var(--hover-mint-medium); }
    .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 > div {
      background: var(--text-color);
      height: 3px;
      width: 20px;
      margin: 1.5px 0px; }
    .Header1-c-00 .Header1-Left-Div-01 h2,
    .Header1-c-00 .Header2-Left-Div-01 h2,
    .Header2-c-00 .Header1-Left-Div-01 h2,
    .Header2-c-00 .Header2-Left-Div-01 h2 {
      color: var(--theme-color);
      align-items: center;
      display: flex;
      flex-direction: row; }

.CreadentialsForm-c-00 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px; }
  .CreadentialsForm-c-00 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0px; }
    .CreadentialsForm-c-00 form input {
      margin: 5px 0px;
      width: calc(100% - 20px); }

.CustomProgressBar-c-00 {
  position: fixed;
  background: var(--theme-color);
  height: 1px;
  width: 95%;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 3px 0px var(--theme-color);
  -moz-box-shadow: 0px 0px 3px 0px var(--theme-color);
  box-shadow: 0px 0px 3px 0px var(--theme-color);
  animation: ProgressBarLoading 20000ms linear;
  animation-iteration-count: 1; }

@keyframes ProgressBarLoading {
  0% {
    width: 0%; }
  10% {
    width: 30%; }
  20% {
    width: 50%; }
  30% {
    width: 65%; }
  40% {
    width: 75%; }
  50% {
    width: 80%; }
  60% {
    width: 85%; }
  70% {
    width: 90%; }
  80% {
    width: 95%; }
  90% {
    width: 95%; }
  100% {
    width: 95%; } }

.Sidebar-c-00 {
  border-right: 1px solid var(--border-color);
  width: 250px !important;
  transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; }
  .Sidebar-c-00 .Sidebar-The-List-01 {
    padding: 0px;
    height: calc(100%);
    max-height: calc(100%);
    overflow: auto; }

.Sidebar-c-00-Hidden {
  min-width: 0px !important;
  width: 0px !important;
  transition: 0.3s; }

.CalendarSidebarNavigator-c-00 {
  width: calc(100% - 58px);
  margin: 0px 29px;
  padding: 20px 0px 3px 0px; }
  .CalendarSidebarNavigator-c-00 p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-color); }
    .CalendarSidebarNavigator-c-00 p span {
      font-size: 12px; }
  .CalendarSidebarNavigator-c-00 button {
    color: var(--text-color-light);
    background: var(--background-color);
    border: 0px solid var(--hover-mint-medium);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px; }
    .CalendarSidebarNavigator-c-00 button:hover {
      background: var(--hover-mint-medium); }

.TodoSidebarItem-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 19px;
  cursor: pointer !important; }
  .TodoSidebarItem-c-00 p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    cursor: default; }
  .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px 12px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0); }
    .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01:hover {
      border: 1px solid var(--background-color);
      background: var(--background-color); }
  .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01 > div {
    height: 3px;
    width: 15px;
    margin: 1.5px 0px; }

.TodoSidebarItem-c-00-Active {
  background: var(--hover-mint-medium); }
  .TodoSidebarItem-c-00-Active .TodoSidebarItem-Hamburger-Div-01 {
    border: 1px solid var(--hover-mint-medium) !important;
    background: var(--hover-mint-medium) !important; }

.ItemSubmitForm-c-00 {
  width: calc(100% - 40px);
  padding: 0px 20px; }
  .ItemSubmitForm-c-00 input {
    padding: 15px 10px;
    width: calc(100% - 20px);
    color: var(--text-color);
    border: 0px solid var(--background-color);
    background: var(--background-color); }
    .ItemSubmitForm-c-00 input:focus {
      outline: none; }
    .ItemSubmitForm-c-00 input::placeholder {
      color: var(--theme-color);
      opacity: 1;
      font-weight: bold;
      font-size: 15px; }

.EventList-c-00 {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .EventList-c-00 .EventList-The-List-01 {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    flex-grow: 1; }
  .EventList-c-00 .ItemSubmitForm-c-00 {
    bottom: 0px; }

.EventListHeader-c-00 {
  width: calc(100% - 58px);
  padding: 20px 29px 10px 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .EventListHeader-c-00 .EventListHeader-Form-01 {
    width: 100%; }
    .EventListHeader-c-00 .EventListHeader-Form-01 input {
      font-size: 22px;
      padding: 5px 0px;
      width: calc(100% - 20px); }

.SubOptionColor-P-01 {
  padding: 0px 15px;
  max-width: 156px;
  background: var(--background-color) !important;
  font-size: 18px; }

.SubOptionColor-Form-01 {
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  margin: 10px 20px; }
  .SubOptionColor-Form-01 input {
    flex-flow: 1;
    width: 100%; }

.SubOptionColor-Error-Msg-01 {
  color: var(--danger-red-color);
  padding: 0px 20px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-top: -5px; }

.EnsureDeletion-c-00 {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: normal; }
  .EnsureDeletion-c-00 .EnsureDeletion-Btn-Container-01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .EnsureDeletion-c-00 .EnsureDeletion-Btn-Container-01 button {
      margin: 10px 0px 0px 10px; }

.EventListItem-c-00 {
  width: calc(100% - 0px);
  margin: 3px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer !important; }
  .EventListItem-c-00 .EventDoneIndicator-c-00 {
    margin-left: 29px; }
  .EventListItem-c-00 p {
    margin: 0px;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.EventDoneIndicator-c-00 {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center; }

.EventDetails-c-00 {
  border-left: 1px solid var(--border-color);
  height: calc(100% - 40px);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  width: 300px;
  overflow: hidden; }
  .EventDetails-c-00 .EventDetailsHeader-c-00 {
    padding-bottom: 5px; }
    .EventDetails-c-00 .EventDetailsHeader-c-00 form {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .EventDetails-c-00 .EventDetailsHeader-c-00 form input {
        font-size: 20px;
        padding: 5px 0px;
        margin-left: 15px;
        width: calc(100% - 20px); }
  .EventDetails-c-00 .EventDetails-The-List-01 {
    max-height: 100%;
    overflow: auto;
    width: calc(100% + 30px); }
  .EventDetails-c-00 .ItemSubmitForm-c-00 {
    padding: 0px; }
    .EventDetails-c-00 .ItemSubmitForm-c-00 input {
      padding: 15px 0px; }

.EventDetailsItem-c-00 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  .EventDetailsItem-c-00 .EventDoneIndicator-c-00 {
    width: 10px;
    height: 10px; }
  .EventDetailsItem-c-00 form {
    width: calc(100% - 20px);
    padding: 5px 10px;
    flex-grow: 1; }
    .EventDetailsItem-c-00 form input {
      width: calc(100% - 10px);
      margin: 0px;
      padding: 5px 0px; }
  .EventDetailsItem-c-00 .EventDetailsItem-Delete-Btn-01 {
    font-size: 16px;
    color: var(--danger-red-color);
    opacity: 0;
    right: 0;
    cursor: pointer;
    margin-right: 20px; }
  .EventDetailsItem-c-00:hover .EventDetailsItem-Delete-Btn-01 {
    opacity: 1; }

.EventDetailsBtns-c-00 .EventDetailsBtns-More-Btns-Container-01 {
  display: flex;
  flex-direction: row;
  padding: 0px;
  justify-content: flex-start; }

.EventDetailsBtns-c-00 .EventDetailsBtns-Textarea-01 {
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 6px;
  min-height: 70px;
  min-width: calc(100% - 14px);
  background: var(--background-color); }
  .EventDetailsBtns-c-00 .EventDetailsBtns-Textarea-01:focus {
    border: 1px solid var(--text-color-light); }

.EventDetailsBtns-c-00 .EventDetailsBtns-Desc-Submit-Btn-01 {
  width: 100%;
  margin: 5px 0px 0px 0px;
  padding: 6px 10px;
  border: 0px solid var(--border-color);
  cursor: pointer; }

.EventDetailsBtns-c-00 .EventDetailsBtns-Selected-01 {
  padding: 10px 0px;
  transition: all 0.2s ease; }
  .EventDetailsBtns-c-00 .EventDetailsBtns-Selected-01:hover {
    padding: 10px 20px; }

.CalendarContent-c-00 {
  flex-grow: 1;
  height: calc(100% - 1px);
  font-family: 'Montserrat', sans-serif; }

.CalendarContent-c-00-Mini {
  padding: 10px;
  width: 230px;
  height: 230px;
  min-height: 230px;
  max-height: 230px;
  border-bottom: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.CalendarRow-c-00 {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  overflow: hidden; }

.CalendarRow-c-00-Mini {
  display: flex;
  flex-direction: row; }

.CalendarRowItem-c-00-Mini {
  width: calc(100% / 7);
  display: flex;
  align-items: center;
  justify-content: center; }
  .CalendarRowItem-c-00-Mini div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    cursor: pointer; }
    .CalendarRowItem-c-00-Mini div:hover {
      background: var(--hover-mint-medium); }
    .CalendarRowItem-c-00-Mini div p {
      font-weight: bold;
      font-size: 10px;
      color: var(--text-color-light); }

.CalendarRowItem-c-00-Mini-Not-In-Month div > p {
  color: var(--text-color-light-2); }

.CalendarRowItem-c-00-Mini-Active-Date {
  background: var(--theme-color); }
  .CalendarRowItem-c-00-Mini-Active-Date:hover {
    background: var(--theme-color) !important; }
  .CalendarRowItem-c-00-Mini-Active-Date p {
    color: white !important; }

.CalendarRowItem-c-00 {
  border-right: 1px solid var(--border-color);
  width: calc((100% / 7) - 1px);
  cursor: pointer;
  background: var(--background-color);
  background: linear-gradient(to right, var(--hover-mint-light) 50%, var(--background-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease; }
  .CalendarRowItem-c-00:hover {
    background-position: left bottom; }
  .CalendarRowItem-c-00 .CalendarRowItem-Event-Level-01 {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    position: absolute;
    border: 0px solid yellow; }
  .CalendarRowItem-c-00 .CalendarRowItem-P-02 {
    margin-right: 10px;
    color: var(--theme-color);
    font-weight: bold;
    font-size: 10px; }
  .CalendarRowItem-c-00 .CalendarRowItem-Div-01 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px auto auto 5px; }
    .CalendarRowItem-c-00 .CalendarRowItem-Div-01 p {
      font-weight: normal;
      font-size: 10px;
      color: var(--text-color); }

.CalendarSidebarItem-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 54px);
  margin: 0px 25px 0px 29px; }
  .CalendarSidebarItem-c-00 input {
    margin: 5px;
    padding: 5px;
    width: calc(100% - 15px); }
  .CalendarSidebarItem-c-00 .CalendarSidebarItem-Options-Btn-02 {
    color: var(--text-color-light);
    background: var(--background-color);
    border: 1px solid var(--background-color);
    padding: 0px;
    cursor: pointer;
    opacity: 0; }
  .CalendarSidebarItem-c-00:hover .CalendarSidebarItem-Options-Btn-02 {
    opacity: 1; }

.HeaderNavigator-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  width: 300px;
  right: 50vw;
  margin-right: -150px;
  height: 70px;
  margin-top: -70px;
  z-index: 50; }
  .HeaderNavigator-c-00 p,
  .HeaderNavigator-c-00 button {
    margin: 5px; }
  .HeaderNavigator-c-00 p {
    font-family: 'Montserrat', sans-serif;
    color: var(--theme-color);
    width: 140px;
    text-align: left;
    padding-top: 2px;
    font-size: 18px;
    font-weight: bold; }
  .HeaderNavigator-c-00 .HeaderNavigator-Nav-Btn-01 {
    color: var(--text-color-light);
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0); }
    .HeaderNavigator-c-00 .HeaderNavigator-Nav-Btn-01:hover {
      border: 1px solid var(--hover-mint-medium);
      background: var(--hover-mint-medium); }

.Calendar-c-00 {
  display: flex;
  align-items: center;
  padding: 3px 5px;
  font-size: 11.5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  margin-left: 4px;
  color: white;
  background: var(--theme-color);
  border-radius: 3px;
  white-space: nowrap; }
  .Calendar-c-00 .Calendar-Div-Over-Title-01 {
    display: flex;
    align-items: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%; }

.Calendar-Empty-Event-01 {
  background: rgba(0, 0, 0, 0);
  padding: 3px 5px;
  height: 12px;
  min-height: 12px;
  max-height: 12px;
  margin-bottom: 2px;
  width: calc(100% - 10px); }

.CalendarEventModal-c-00 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background: var(--background-color); }
  .CalendarEventModal-c-00 .CalendarEventModal-Tools-Div-01 {
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px; }
  .CalendarEventModal-c-00 .CalendarEventModal-Title-Div-01 form {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .CalendarEventModal-c-00 .CalendarEventModal-Title-Div-01 form input {
      font-size: 20px;
      padding: 5px 0px;
      width: 100%; }
  .CalendarEventModal-c-00 .CalendarEventModal {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px; }
  .CalendarEventModal-c-00 .EventDetailsBtns-Selected-01 {
    padding: 10px 0px;
    transition: all 0.2s ease; }
    .CalendarEventModal-c-00 .EventDetailsBtns-Selected-01:hover {
      padding: 10px 20px; }

.NotifyModal-c-00 {
  margin: 10px auto;
  width: 200px;
  color: var(--text-color-light);
  background: var(--background-color);
  padding: 5px 15px 5px 20px;
  border-radius: 4px;
  border-left: 5px solid var(--theme-color);
  animation: NotifyModal-Slide-Left 400ms linear;
  animation-iteration-count: 1; }
  .NotifyModal-c-00 p {
    font-weight: bold; }

.SettingsComp-c-00 .SettingsComp-Setting-Div-01 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0px;
  padding: 10px 0px;
  width: 100%;
  transition: all 0.2s ease;
  cursor: pointer; }
  .SettingsComp-c-00 .SettingsComp-Setting-Div-01 p {
    margin-left: 10px; }

.SettingsComp-c-00 .SettingsComp-Setting-Div-Flexible-01:hover {
  padding: 10px 20px;
  width: calc(100% - 40px); }

.SettingsComp-c-00 label {
  color: var(--theme-color);
  font-weight: bold;
  margin: 10px 0px 5px 0px; }

.SettingsComp-c-00 .SettingsComp-Auth-Info-02 {
  margin-bottom: 10px; }
  .SettingsComp-c-00 .SettingsComp-Auth-Info-02 p {
    color: var(--text-color-light); }
  .SettingsComp-c-00 .SettingsComp-Auth-Info-02 img {
    height: 50px;
    border-radius: 4px;
    margin-right: 15px; }

.SettingsComp-c-00 .EventDetailsBtns-Selected-01 {
  padding: 10px 0px;
  transition: all 0.2s ease; }
  .SettingsComp-c-00 .EventDetailsBtns-Selected-01:hover {
    padding: 10px 20px; }

