@keyframes fadeIn{0%{opacity:0}to{opacity:1}}@keyframes fadeIn_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideDown_rev{0%{opacity:1}to{opacity:0}}@keyframes slideDown_child{0%{margin-top:-200px}70%{margin-top:20px}to{margin-top:0}}@keyframes slideDown_child_rev{0%{margin-top:0}to{margin-top:-240px}}@keyframes slideUp{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideUp_rev{0%{opacity:1}to{opacity:0}}@keyframes slideUp_child{0%{margin-top:200px}70%{margin-top:-20px}to{margin-top:0}}@keyframes slideUp_child_rev{0%{margin-top:0}to{margin-top:240px}}@keyframes slideRight{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideRight_rev{0%{opacity:1}to{opacity:0}}@keyframes slideRight_child{0%{margin-left:-200px}70%{margin-left:20px}to{margin-left:0}}@keyframes slideRight_child_rev{0%{margin-left:0}to{margin-left:-240px}}@keyframes slideLeft{0%{opacity:0;background-color:transparent}50%{opacity:1}to{opacity:1}}@keyframes slideLeft_rev{0%{opacity:1}to{opacity:0}}@keyframes slideLeft_child{0%{margin-left:200px}70%{margin-left:-20px}to{margin-left:0}}@keyframes slideLeft_child_rev{0%{margin-left:0}to{margin-left:240px}}.gib-r-drpd-m-_ModalMask{height:100vh;width:100vw;display:flex;position:fixed;top:0;bottom:0;left:0;right:0}.gib-r-drpd-m-_ModalMask-m-centered{display:flex;align-items:center;justify-content:center}.gib-r-drpd-m-_Modal{position:absolute;top:auto;bottom:auto;right:auto;left:auto;animation-iteration-count:1}.gib-r-drpd-m-_ModalArrow{width:0;height:0;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid #fff;margin-top:-7px}.gib-r-drpd-m-_ModalContent{display:flex;flex-direction:column}.gib-r-drpd-m-_ModalContent_btn_001{color:#606060;padding:6px 14px;background:#fff;font-size:13px;border:0 solid #fff;border-top:1px solid #e2e2e2;cursor:pointer}.gib-r-drpd-m-_ModalContent_btn_001 :focus{outline:none}.gib-r-drpd-m-_ModalContent_btn_001 :hover{background:#f9f9f9}
:root {
  --danger-red-color: #f03434;
  --safe-green-color: #019031;
  --background-color: white;
  --border-color: #d8d8d8;
  --hover-mint-light: #f3f3f3;
  --hover-mint-medium: #f3f3f3;
  --hover-mint-deep: #dddddd;
  --theme-color: #0071e2;
  --theme-color-middle: #088cfb;
  --theme-color-light: #00a6f9;
  --text-color: #424242;
  --text-color-light: #707070;
  --text-color-light-2: #b8b8b8;
  --text-color-light-3: #707070;
  --modal-mask-color: rgba(0, 0, 0, 0.3); }

body {
  color: var(--text-color);
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: var(--background-color); }

.Flex-Class-Row-Start,
.Flex-Class-Row-End,
.Flex-Class-Row-Center {
  display: flex;
  flex-direction: row;
  align-items: center; }

.Flex-Class-Row-Start {
  justify-content: flex-start; }

.Flex-Class-Row-End {
  justify-content: flex-end; }

.Flex-Class-Row-Center {
  justify-content: center; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover, a:focus {
    color: inherit;
    text-decoration: none; }

input:focus,
textarea:focus,
button:focus {
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px; }

button:focus {
  outline: none; }

/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0; }

.Theme-Btn-Normal-99,
.Theme-Btn-White-99,
.Theme-Btn-Black-99,
.Theme-Btn-Red-99,
.Theme-Btn-Grey-99 {
  padding: 10px 20px;
  border: 0px solid white;
  border-radius: 4px;
  cursor: pointer; }

.Theme-Btn-Normal-99 {
  color: white;
  background: var(--theme-color-middle); }

.Theme-Btn-White-99 {
  color: var(--text-color);
  background: var(--background-color); }

.Theme-Btn-Black-99 {
  color: var(--background-color);
  background: var(--text-color); }

.Theme-Btn-Red-99 {
  color: var(--background-color);
  background: var(--danger-red-color); }

.Theme-Btn-Grey-99 {
  color: var(--text-color);
  background: var(--hover-mint-medium); }

.Theme-Btn-Shadow-99 {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); }
  .Theme-Btn-Shadow-99:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2); }

.Theme-Btn-Type2-Red-99,
.Theme-Btn-Type2-Grey-99 {
  border-radius: 2px;
  padding: 6px;
  cursor: pointer; }

.Theme-Btn-Type2-Red-99 {
  color: white;
  border: 1px solid var(--danger-red-color);
  background: var(--danger-red-color);
  font-weight: bold; }

.Theme-Btn-Type2-Grey-99 {
  color: var(--text-color);
  border: 1px solid var(--hover-mint-medium);
  background: var(--hover-mint-medium); }

.Theme-Input-99 {
  color: var(--text-color);
  background: var(--background-color);
  border: 1px solid var(--text-color-light-3);
  padding: 10px;
  border-radius: 4px; }
  .Theme-Input-99:focus {
    border: 1px solid var(--theme-color); }

.Theme-Input-Underline-OnFoucs-99 {
  color: var(--text-color);
  width: 100%;
  border: 0px solid var(--border-color);
  border-bottom: 1px solid var(--background-color);
  background: var(--background-color);
  transition: border 0.3s ease-out; }
  .Theme-Input-Underline-OnFoucs-99:focus {
    border-bottom: 1px solid var(--theme-color-middle); }

.Theme-Dropdown-Content-Item-99 {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: var(--text-color);
  padding: 10px 20px;
  cursor: pointer;
  word-spacing: 2px; }

.Theme-Slide-Background-onHover-99 {
  background: var(--background-color);
  background: linear-gradient(to right, var(--hover-mint-medium) 50%, var(--background-color) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.2s ease; }
  .Theme-Slide-Background-onHover-99:hover {
    background-position: left bottom; }

@keyframes Page-Fade-In {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes About-Page-Content-Slide-Up {
  0% {
    opacity: 0;
    padding-top: 100px;
    height: calc(100vh - 170px); }
  100% {
    opacity: 1;
    padding-top: 0px;
    height: calc(100vh - 70px); } }

.Extra-a-00 {
  height: 100vh;
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.Extra-a-00,
.Todo-a-00 {
  animation: Page-Fade-In 600ms linear;
  animation-iteration-count: 1; }

.About-p-00 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  animation: About-Page-Content-Slide-Up 600ms linear 0ms;
  animation-iteration-count: 1; }
  .About-p-00 h1 {
    margin-top: -50px;
    font-size: 40px;
    font-weight: bold;
    word-spacing: 3px; }
  .About-p-00 .About-Subheading-01 {
    font-size: 16px;
    color: var(--text-color-light); }
  .About-p-00 p {
    margin: 5px; }
    .About-p-00 p a {
      color: var(--theme-color-middle); }
  .About-p-00 .About-Side-Git-Btns-Container-01 {
    right: 10px;
    bottom: 40px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.TodoComp-c-00 {
  border-top: 1px solid var(--border-color);
  height: calc(100vh - 70px - 1px);
  width: 100vw;
  display: flex;
  flex-direction: row; }

.Header2-c-00 {
  width: calc(100% - 60px);
  height: 70px;
  padding: 0px 30px; }

.Header1-c-00 {
  width: calc(100% - 150px);
  height: 70px;
  padding: 0px 75px; }

.Header1-c-00,
.Header2-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .Header1-c-00 .Header1-Links-Container-01,
  .Header2-c-00 .Header1-Links-Container-01 {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Header1-c-00 .Header1-Links-Container-01 p,
    .Header2-c-00 .Header1-Links-Container-01 p {
      color: var(--text-color-light-2);
      margin-left: 20px;
      font-size: 12px;
      cursor: pointer; }
      .Header1-c-00 .Header1-Links-Container-01 p:hover,
      .Header2-c-00 .Header1-Links-Container-01 p:hover {
        color: var(--text-color); }
    .Header1-c-00 .Header1-Links-Container-01 .Header1-Links-Active,
    .Header2-c-00 .Header1-Links-Container-01 .Header1-Links-Active {
      color: var(--text-color); }
  .Header1-c-00 .Header1-Left-Div-01,
  .Header1-c-00 .Header2-Left-Div-01,
  .Header2-c-00 .Header1-Left-Div-01,
  .Header2-c-00 .Header2-Left-Div-01 {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02,
    .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 14px 13px;
      margin-right: 10px;
      margin-left: -13px;
      border: 1px solid var(--background-color);
      background: var(--background-color);
      cursor: pointer; }
      .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02:hover,
      .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02:hover {
        border: 1px solid var(--hover-mint-medium);
        background: var(--hover-mint-medium); }
    .Header1-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header1-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header2-c-00 .Header1-Left-Div-01 .Header2-Hamburger-Div-02 > div,
    .Header2-c-00 .Header2-Left-Div-01 .Header2-Hamburger-Div-02 > div {
      background: var(--text-color);
      height: 3px;
      width: 20px;
      margin: 1.5px 0px; }
    .Header1-c-00 .Header1-Left-Div-01 h2,
    .Header1-c-00 .Header2-Left-Div-01 h2,
    .Header2-c-00 .Header1-Left-Div-01 h2,
    .Header2-c-00 .Header2-Left-Div-01 h2 {
      color: var(--theme-color-middle);
      align-items: center;
      display: flex;
      flex-direction: row; }

.CreadentialsForm-c-00 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px; }
  .CreadentialsForm-c-00 form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 5px 0px; }
    .CreadentialsForm-c-00 form input {
      margin: 5px 0px;
      width: calc(100% - 20px); }

.CustomProgressBar-c-00 {
  position: fixed;
  background: var(--theme-color);
  height: 1px;
  width: 95%;
  z-index: 20;
  -webkit-box-shadow: 0px 0px 3px 0px var(--theme-color);
  -moz-box-shadow: 0px 0px 3px 0px var(--theme-color);
  box-shadow: 0px 0px 3px 0px var(--theme-color);
  animation: ProgressBarLoading 20000ms linear;
  animation-iteration-count: 1; }

@keyframes ProgressBarLoading {
  0% {
    width: 0%; }
  10% {
    width: 30%; }
  20% {
    width: 50%; }
  30% {
    width: 65%; }
  40% {
    width: 75%; }
  50% {
    width: 80%; }
  60% {
    width: 85%; }
  70% {
    width: 90%; }
  80% {
    width: 95%; }
  90% {
    width: 95%; }
  100% {
    width: 95%; } }

.TodoSidebar-c-00 {
  border-right: 1px solid var(--border-color);
  width: 250px !important;
  transition: 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column; }
  .TodoSidebar-c-00 .TodoSidebar-The-List-01 {
    padding: 0px;
    height: calc(100% - 4px);
    max-height: calc(100% - 4px);
    overflow: auto; }

.TodoSidebar-c-00-Hidden {
  min-width: 0px !important;
  width: 0px !important;
  transition: 0.3s; }

.TodoSidebarItem-c-00 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 19px;
  cursor: pointer !important; }
  .TodoSidebarItem-c-00 p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 2px;
    cursor: default; }
  .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 10px 12px;
    margin-right: 10px;
    border: 1px solid rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0); }
    .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01:hover {
      border: 1px solid var(--background-color);
      background: var(--background-color); }
  .TodoSidebarItem-c-00 .TodoSidebarItem-Hamburger-Div-01 > div {
    height: 3px;
    width: 15px;
    margin: 1.5px 0px; }

.TodoSidebarItem-c-00-Active {
  background: var(--hover-mint-medium); }
  .TodoSidebarItem-c-00-Active .TodoSidebarItem-Hamburger-Div-01 {
    border: 1px solid var(--hover-mint-medium) !important;
    background: var(--hover-mint-medium) !important; }

.ItemSubmitForm-c-00 {
  width: calc(100% - 40px);
  padding: 0px 20px; }
  .ItemSubmitForm-c-00 input {
    padding: 15px 10px;
    width: calc(100% - 20px);
    color: var(--text-color);
    border: 0px solid var(--background-color);
    background: var(--background-color); }
    .ItemSubmitForm-c-00 input:focus {
      outline: none; }
    .ItemSubmitForm-c-00 input::placeholder {
      color: var(--theme-color-middle);
      opacity: 1;
      font-weight: bold;
      font-size: 15px; }

.EventList-c-00 {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
  .EventList-c-00 .EventList-The-List-01 {
    height: 100%;
    max-height: 100%;
    overflow: auto;
    flex-grow: 1; }
  .EventList-c-00 .ItemSubmitForm-c-00 {
    bottom: 0px; }

.EventListHeader-c-00 {
  width: calc(100% - 40px);
  padding: 15px 20px 10px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .EventListHeader-c-00 .EventListHeader-Form-01 {
    width: 100%; }
    .EventListHeader-c-00 .EventListHeader-Form-01 input {
      font-size: 22px;
      padding: 5px 0px;
      width: calc(100% - 20px); }

.SubOptionColor-P-01 {
  padding: 0px 15px;
  max-width: 156px;
  background: var(--background-color) !important;
  font-size: 18px; }

.SubOptionColor-Form-01 {
  display: flex;
  flex-direction: row;
  width: calc(100% - 40px);
  margin: 10px 20px; }
  .SubOptionColor-Form-01 input {
    flex-flow: 1;
    width: 100%; }

.SubOptionColor-Error-Msg-01 {
  color: var(--danger-red-color);
  padding: 0px 20px;
  width: calc(100% - 40px);
  margin-bottom: 10px;
  margin-top: -5px; }

.EnsureDeletion-c-00 {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: normal; }
  .EnsureDeletion-c-00 .EnsureDeletion-Btn-Container-01 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
    .EnsureDeletion-c-00 .EnsureDeletion-Btn-Container-01 button {
      margin: 10px 0px 0px 10px; }

.EventListItem-c-00 {
  width: calc(100% - 0px);
  margin: 3px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer !important; }
  .EventListItem-c-00 .EventDoneIndicator-c-00 {
    margin-left: 20px; }
  .EventListItem-c-00 p {
    margin: 0px;
    padding: 10px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.EventDoneIndicator-c-00 {
  width: 14px;
  height: 14px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center; }

