$theme-purple: #6f8bd4;
// $theme-green: #36A500;
$theme-green: #2574a9;
$theme-color: #2574a9;
$theme-orange: #f15a22;

$text-color: #424242;
$text-color-light: #707070;
$border-black: #bbb;

$background-grey-0: #f8f8f8;
$background-grey-1: #e7e7e7;
$background-grey-2: #dddddd;
$background-grey-3: #c0c0c0;

$brand-color-google: #ea4335;
$brand-color-facebook: #3b5998;

$height-without-header: calc(100vh - 73px);