$theme-purple: #6f8bd4;
// $theme-green: #36A500;

$theme-color: #2574a9;
$theme-green: #2574a9;
$theme-orange: #f03434;

//@at-root

// $theme-color: #f7ca18;
// $theme-green: #f7ca18;

$text-color: #424242;
$text-color-light: #707070;
$text-color-light-2: #b8b8b8;
$border-black: #d8d8d8;

$background-grey-0: #f8f8f8;
$background-grey-1: #e7e7e7;
$background-grey-2: #dddddd;
$background-grey-3: #c0c0c0;

$brand-color-google: #ea4335;
$brand-color-facebook: #3b5998;

$height-without-header: calc(100vh - 73px);