// Hacks
$hack-theme-green: #00bc60;
$hack-theme-orange: #ff9b17;
$hack-theme-blue: #1D77BC;
$hack-theme-blue-light: #019CF6;
$hack-theme-redish: #DF4300;

$background-grey-0: #f3f2f2;
$background-grey-1: #e7e7e7;
$background-grey-2: #dddddd;
$background-grey-3: #c0c0c0;

$scroller-background-1: #dddddd;
$scroller-background-2: #c0c0c0;

$brand-color-google: #ea4335;
$brand-color-facebook: #3b5998;

$height-without-header: calc(100vh - 73px);