html {
  --background-color: white;
  --border-color: #d8d8d8;
  --hover-mint-light: #eff9d7;
  --hover-mint-deep: #dce9bb;
  --theme-color: #1e893c;
  --text-color: #424242;
  --text-color-light: #707070;
  --text-color-light-2: #b8b8b8;
}

