@import './base/settings';
@import './base/base';
@import './base/theme';
@import './base/anime';
@import './base/App';

@import '../../node_modules/react-dropdown-modal/lib/dropdown.css';
@import '../../node_modules/react-dropdown-selector/lib/selector.css';
@import '../../node_modules/awesome-react-datepicker/lib/datepicker.css';

@import './pages/About';
@import './pages/Todo';
@import './pages/Calendar';
// @import './pages/Todo';
// @import './pages/Todo';
// @import './pages/Todo';
// @import './pages/Todo';
// @import './pages/login';

@import './components/Header';
@import './components/CreadentialsForm';
@import './components/CustomProgressBar';
@import './components/Sidebar';
@import './components/TodoSidebarItem';
@import './components/ItemSubmitForm';
@import './components/EventList';
@import './components/EventListHeader';
@import './components/SubOptionColor';
@import './components/EnsureDeletion';
@import './components/EventListItem';
@import './components/EventDoneIndicator';
@import './components/EventDetails';
@import './components/EventDetailsItem';
@import './components/EventDetailsBtns';
@import './components/CalendarContent';
@import './components/CalendarRow';
@import './components/CalendarRowItem';
@import './components/CalendarSidebar';
@import './components/CalendarSidebarItem';
@import './components/HeaderNavigator';
@import './components/CalendarEvent';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
// @import './components/TodoSidebar';
